.header {
  display: flex;
  justify-content: space-between;

  padding: 10px 20px 0 20px;
}

.logo {
  width: 120px;
  height: auto;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 1rem;

  img {
    width: 50px;
    border-radius: 50%;
  }

  strong {
    background-color: var(--clr-secondary);
    color: var(--txt-primary);

    padding: 0 10px;
    border-radius: 12px;
    font-weight: 400;
  }
}
