/* SIDEBAR STYLES */

.sidebar {
  position: fixed;
  top: 110px;
  right: 0;

  height: 100vh;
  width: 50px;

  background-color: var(--clr-secondary);

  padding: 6px 14px;
  border-top-left-radius: 8px;

  transition: all 150ms ease-in-out;
}

.sidebar.active {
  width: 160px;
}

.hamburgerMenu {
  position: absolute;
  left: 8px;
  top: 6px;

  font-size: 1.275rem;
  text-align: center;

  background-color: transparent;
}

.hamburgerMenu span {
  display: block;
  width: 33px;
  height: 4px;

  margin-bottom: 5px;
  border-radius: 3px;

  background-color: var(--txt-primary);

  transition: all 150ms ease-in-out;
}

.hamburgerMenu:hover {
  cursor: pointer;
}

.hamburgerMenu:hover span {
  transform: scale(1.2);
}

.navList {
  padding: 50px 0;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navList li {
  display: none;
  user-select: none;

  font-size: 1.25rem;
  letter-spacing: 2px;
}

.navList li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sidebar.active .navList li {
  display: block;
}
