@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

:root {
  --clr-primary: #62929e;
  --clr-secondary: #393d3f;
  --clr-tertiary: #dee2e6;

  --bg-card: #546a7b;

  --txt-primary: #fff;
  --txt-secondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--clr-primary);
}

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button {
  border: none;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--txt-primary);
}

h1 {
  font-size: 3rem;
  position: relative;
  display: inline-block;
  z-index: 2;

  &::before {
    content: "";
    background: var(--clr-secondary);
    position: absolute;
    left: -3%;
    bottom: 16px;
    height: 8px;
    width: 106%;
    z-index: -1;
    border-radius: 35px;
  }
}

h2 {
  font-size: 1.75rem;
  letter-spacing: 2px;

  margin: 10px 0;
}

.card {
  background-color: var(--bg-card);
  color: var(--txt-primary);

  text-align: center;

  border-radius: 12px;

  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;

  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
